body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightskyblue;
}

code {
  font-family: "Nunito", sans-serif;
}

/*  This api is used to convert city name into geo codes
http://api.openweathermap.org/geo/1.0/direct?q={city name},{state code},{country code}&limit={limit}&appid={API key}

https://api.openweathermap.org/geo/1.0/direct?q=noida&limit=3&appid=56ea9f596c9fe8a60479aceec0e8eca0
*/

/* 
This api is used to fetch weather data

https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={API key}
*/
